body{
    background: #f1f1f1;
    font-family: 'Inter', sans-serif;
}

.navContainer{
    position: fixed;
    top: 0px;
    z-index: 12;
    /* position: relative; */
    box-shadow: 1px 2px 4px rgb(0 0 0 / 40%);
    background: #ffffff;
    height: 80px;

    display: flex;
    /* padding: 10px 10px; */
    width: 100%;
}

.tituloNav{
    width: 25%;

    font-size: 30px;
    text-align: center;
    align-self: center;
    color: #797979;
}

.tituloNavMin{
    display: none;
}

.buscar{
    width: 50%;
    height: 43px;
    margin: auto;
    border-radius: 25px;
    font-size: 16px;
    padding: 0 20px;
}

.noEncontrado{
    padding: 20px;
    background: #525252;
    color: white;
    font-size: 22px;
}

.buscar::placeholder{
    font-size: 16px;
}

.iconosNav{
    align-self: center;
    width: 25%;
}

.iconoBuscar{
    margin-left: 10px;
    font-size: 20px;
    color: #797979;
}

.container{
    margin-top: 109px;
    height: 800px;
    background: #f1f1f1;
}

.cardsContainer{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    place-content: space-around;
}

.cards{
    padding: 10px;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 40%);
    width: 21%;
    min-height: 300px;
    margin-bottom: 15px;
    background: #ffffff;
}

.cardSuperior{
    height: 80%;
    place-content: space-between;
    display: grid;
    position: relative;
}

.imgContain{
    width: 100%;
    position: absolute;
    text-align: center;
}

.img{
    width: 100%;
}

.nombre{
    font-size: 14px;
    color: #797979;

    position: absolute;
    bottom: 15px;
}

.cardInferior{
    display: flex;
}

.precio{
    width: 75%;
    align-self: center;
    color: #9b9b9b;
}

.iconoCarrito{
    width: 25%;
    font-size: 30px;
}

.iconoCarrito:hover{
    color: rgb(141, 180, 43);
}

@media (max-width: 800px) {
    .img{
        max-width: 200px;
    }
    .cards{
        width: 35%;
    }
}

@media (max-width: 600px) {
    .cards{
        width: 66%;
    }

    .tituloNav {
        display: none;
    }

    .tituloNavMin{
        display: block;
        width: 25%;
    
        font-size: 30px;
        text-align: center;
        align-self: center;
        color: #797979;
    }

    /* .tituloNav {
        content: none;
        visibility: hidden;
    }
    .tituloNav::after {
        content: "BT";
        visibility: visible;
    } */
}
